/**
 * Variables
 */
@mainColor: #fff;
@backgroundColor: #6a96cc;
@hoverColor: #4d6699;
@fontColor: #fff;

.hidden {
  display: none;
}
.dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: #ffffff;
    .value {
      border: solid 1px @mainColor;
      position: relative;
      padding: 10px 35px 10px 20px;
      background-color: @backgroundColor;
      color: @fontColor;
      &:hover, &.hover {
        background-color: @hoverColor;
      }
      &:after {
        content: "\00a0";
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -4px;
        border-top: 11px solid @mainColor;
      }
    }
    ul {
      position: absolute;
      z-index: 1000;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      max-width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      border-style: solid;
      border-color: @mainColor;
      border-width: 0 1px 1px 1px;
      list-style-type: none;
      background-color: @backgroundColor;
      color: @fontColor;

      li {
        padding: 10px 20px;
        &:hover, &.hover {
          background-color: @hoverColor;
        }
      }
    }
}
