/**
 * Variables
 */
.hidden {
  display: none;
}
.dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: #ffffff;
}
.dropdown .value {
  border: solid 1px #ffffff;
  position: relative;
  padding: 10px 35px 10px 20px;
  background-color: #6a96cc;
  color: #ffffff;
}
.dropdown .value:hover,
.dropdown .value.hover {
  background-color: #4d6699;
}
.dropdown .value:after {
  content: "\00a0";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
  border-top: 11px solid #ffffff;
}
.dropdown ul {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 1px 1px 1px;
  list-style-type: none;
  background-color: #6a96cc;
  color: #ffffff;
}
.dropdown ul li {
  padding: 10px 20px;
}
.dropdown ul li:hover,
.dropdown ul li.hover {
  background-color: #4d6699;
}
